*{
  margin: 0;
  padding: 0;
}


.main_div{
    text-align: center;
}
.title{
    color: #009578;
    margin-top: 100px;
    margin-bottom: 100px;
}

.navigation{
 
  color: #009578;
  background-color :white;
  padding: 7px;
  /* margin:4px; */
  padding-left: 12px;
  /* border-radius: 30px ; */

}

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
    margin: auto;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }

  #preview{
    max-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }