
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quintessential&display=swap');
*{
  padding: 0;
  margin:0;
}

.top-bar{
  display: flex;
  padding: 10px;
  margin: 5px;
  color:#092c26;
  font-size: 15px;
  position:relative;

}
.icon{
  display: inline;
  padding: 10px;
  margin: 2px;
  justify-content: space-between;
  position: relative;
  left: 940px;
  cursor: grab;
/* height: ; */
}
.icon:hover{
  font-size:120%;
}
body{
  background-image: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size:100vw;
  position:relative;
}
.main_div{
  text-align: center;
  min-height: 82vh;
  overflow: hidden;
}
.title{
  color: #244941;
  margin-top: 100px;
  margin-bottom: 10px;
}

.about-section{
  position: relative;
  margin: 0px 155px 50px 155px;
}
.navigation{
  position:relative;
  background: linear-gradient(45deg, #8f8cbe,#0ecc83de);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: #073129;
  background-color :white;
  padding: 7px;
  /* margin:4px; */
  padding-left: 12px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.drop-zone {
    max-width: 200px;
    height: 200px;
    box-shadow: 0px 4px 4px 0px #070e0c;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #1ba88a;
    border: 4px solid#2f7465;
    border-radius: 10px;
    margin: auto;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: linear-gradient(45deg,rgb(161, 212, 191),rgb(18, 123, 131));
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
.selector{
  font-size: 15px;
  margin: 15px;
}
select{
  background-color: rgb(137, 207, 204);
}
#selectTag{
  cursor: grab;
  color: #0b0e07;
  border-radius: 6px;
}
#selectTag:hover{
  height: 35px;
  width: 60px;
  transition-duration:0.2s;
  background: linear-gradient(45deg, #615ac5,#0ecc83de);
  box-shadow: #070e0c 0px 4px 4px 0px;
}
  #preview{
    max-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box{
    padding: 10px;
    
  }
  #compressBtn{
    width: 100px;
    justify-content: center;
    margin-right: 10px;
    background: linear-gradient(45deg,rgb(161, 212, 191),rgb(159, 147, 185));
    border-radius: 7px;
    box-shadow: #073129;
    cursor: grab;
  }
  #compressBtn:hover{
    width: 110px;
    height: 40px;
    transition-duration: 0.2s ;
    background: linear-gradient(45deg,rgb(76, 151, 120),rgb(146, 123, 196));
    box-shadow: #070e0c 0px 4px 4px 0px;
  }
  #downloadBtn{
    width: 100px;
    justify-content: center;
    border-radius: 7px;
    box-shadow: #073129;
    background: linear-gradient(45deg,rgb(161, 212, 191),rgb(159, 147, 185));
    cursor: grab;
  }
  #downloadBtn:hover{
    width: 110px;
    height: 40px;
    transition-duration: 0.2s ;
    background: linear-gradient(45deg,rgb(76, 151, 120),rgb(146, 123, 196));
    box-shadow: #070e0c 0px 4px 4px 0px;
  }
  .links{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(45deg, #615ac5,#0ecc83de);
    word-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 150px ;
    padding: 15px;
    margin-bottom: 0px;
    color:#310d0d;

  }
  .footer1{
    font-size: 13px;
    display: flex;
    color:  black;
    background: linear-gradient(45deg, #615ac5,#0ecc83de);
  /* transition-duration: 0.2s ; */
  justify-content: center;
 /* padding:15px auto 10px auto; */
  margin-top: 0px;
  /* animation: animate 0.2s linear infinite ; */
  }

  .icons-social-media > i{
    /* display: grid; */
    padding-left: 15px;
    font-size: 28px;
    padding-bottom: 20px;
   color:#061a44;
  }
  .icons-social-media > i:hover{
   color:#ffee00;
   shape-image-threshold: ;
   transition: ease-in 0.7s all;
   transform:rotateY(1turn);
   font-size: 28px;
   /* font-size: 35px; */
   cursor: grab;  
  }
  /* .icons-social-media .fa fa-github{
    color: #d5d3e7;
  }
  .fa fa-github:hover{
    color: #156951;
  } */
 
 .footer{
    margin-top: 0px;
    height:130px;
    background: linear-gradient(45deg, #615ac5,#0ecc83de);
    /* animation: animate 0.2s linear infinite ; */
  }
  /* .icon{
    padding: 5px 10px 5px 10px;
  }
   */
  /* @keyframes animate {
    0%{
      border-top-left-radius: 10%; 
    }
   50%{
    border-top-left-radius: 70%;
    
    border-top-right-radius: 10%;
   }
    100%{
      border-top-right-radius: 0%; 
      border-top-left-radius: 100%;
    }
  }*/
  /* @keyframes animate1 {
    0%{
      border-top-left-radius: 10%; 
     }
   50%{
    border-top-left-radius: 30%;
    border-top-right-radius: 30%; 
    background:#009578;
   }
    100%{
      
      border-top-left-radius: 0%;
      border-top-right-radius: 50%;
      background: linear-gradient(50deg,rgba(47, 104, 131, 0.486),#009578);
    }
  } */
 .headline{
  font-family: 'Playfair Display', serif;
  font-family: 'Quintessential', cursive;
  font-weight: bolder;
color: #1c093a;

 }
 .center{
  text-align:center;
padding: 12px 12px 12px 12px;
 }
 .copy{
   margin-top: 10px;
 }
 .terms{
   color:rgb(33, 33, 58);
 }
 .cent{
  margin-left: 90%;

 }
 input[type="checkbox"]{
   position: relative;
   width: 40px;
   height: 20px;
   -webkit-appearance: none;
   background-color: black;
   outline: none;
   border-radius:   15px;
 }
 input:checked[type="checkbox"]{
background-color: rgb(219, 205, 199);
 }
 input[type="checkbox"]:before{
   content: ' ';
   width:20px;
   height:20px;
   border-radius: 20px;
   position: absolute;
   top:0;
   left:0;
   background-color: rgb(3, 54, 41);
   transform: scale(1.1);
   transition: 0.5s;
 }
 input:checked[type="checkbox"]:before{
   left:20px;
 }
 @media (max-width:380px) {
  input[type="checkbox"]{
    position: relative;
    width: 20px;
    height: 10px;
    -webkit-appearance: none;
    background-color: black;
    outline: none;
    border-radius:   15px;
  }
  input:checked[type="checkbox"]{
 background-color: rgb(219, 205, 199);
  }
  input[type="checkbox"]:before{
    content: ' ';
    width:10px;
    height:10px;
    border-radius: 20px;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(3, 54, 41);
    transform: scale(1.1);
    transition: 0.5s;
  }
  input:checked[type="checkbox"]:before{
    left:10px;
  }
 }

 #details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  visibility: hidden;
  margin-top: 20%;
}

#input-file, #output-file {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}